/* https://css-tricks.com/creating-sliding-effects-using-sticky-positioning/ */

body {
    
}

.category, .title, .footer, .sticky {
    position:sticky;
}

.category {
    top:0;

}

.title {
    top:0;
}

.sticky {
    top:0;
}

.img {
    top:0;
}

.footer {
    bottom:100px;
    margin:50px auto auto auto;
    z-index:-1;
}

section {
    height:100vh;
    background-image: linear-gradient(
        to bottom,
        transparent 50px,
        #F5A623 50px,
        #f5A623 calc(100% - 50px),
        transparent 0
    );
    margin: auto auto 50px auto;
}