    /* https://css-tricks.com/creating-sliding-effects-using-sticky-positioning/ */
    
    body {
        margin: 0;
    }
    
    .sticky {
        position: sticky;
        top: 0;
        z-index: -1;
        /* height: 150vh; */
    }
    
    section {
        height: 100vh;
        background-image: linear-gradient( to bottom, transparent 50px, #F5A623 50px, #f5A623 calc(), transparent 0);
        /* margin: auto auto 50px auto; */
    }
    
    .align-right {
        width: 100%;
        text-align: right;
    }
    
    .align-left {
        width: 100%;
        text-align: left;
    }
    
    .half-half {
        float: left;
        width: 100%;
    }
    
    .full {
        float: left;
        width: 100%;
        background: url('https://picsum.photos/901');
        background-size: cover;
    }
    
    .left,
    .right {
        float: left;
        width: 50%;
    }